$default-text-color: white;
$background-color: #171E22;

$primary-color: #26A6A6;
$primary-placeholder-color: #34444D;
$primary-hover-color: #3E505A;
$primary-focus-color: #4A606C;
$primary-background-color: #2E3C43;

$secondary-text-color: #4E6D71;
$secondary-color: #304E52;

$cm-keyword: #26A6A6;
$cm-operator: #26A6A6;
$cm-builtin: #26A6A6;
$cm-atom: #BCD42A;
$cm-number: #BCD42A;
$cm-def: #BCD42A;
$cm-string: #BCD42A;
$cm-comment: #304E52;
$cm-tag: #26A6A6;
$cm-meta: #26A6A6;
$cm-attribute: #FF5D38;
$cm-property: #FF5D38;
$cm-qualifier: #26A6A6;
$cm-variable: #E9F6FB;
$cm-variable-3: #26A6A6;
$cm-type: #26A6A6;
$cm-tag: #26A6A6;
$cm-error: #DA1E3C;